<nav class="nav">
  <div class="nav-left"></div>
  <div class="nav-center"></div>
  <div class="nav-right">
    <%=  link_to 'About', about_path %> | <%= link_to "Alpha Blog", articles_path %>
  </div>
</nav>

<section class="columns has-text-centered">
  <h1 class="title is-1">James Taylor Blog</h1>
  <h5 class="subtitle is-5">A look into learning Rails</h5>
</section>


